<%- include('../parts/head', {bot, user, path}) %>
<br><br><br>
    <div class="container">
        <div class="column">
            <p class="has-text-white title is-large"><i class="fa fa-code has-text-info"></i>&nbsp; Bug Types</p>
          </div>
          <div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5">

                    <div class="column is-3 mb-5">    
                        <div style="background-color: var(--bg-card);" class="box carddisbotsbotCard">
                          <div>
                            <i draggable="false" style="font-size: 140px;" class="fab fa-js fa-5x is-pulled-left has-text-warning carddisbotsbotIMG z"></i>
                          </div>
                          <div class="is-pulled-right is-inline-block">
                             <span class="badge badge-stats mt-1 w-100"></span>
                             </div>
                           <br><br><br>
                          <p style="margin-top: 5px;" class="carddisbotsbotName has-text-white mt-5">
                            Report A Bug W/ Google Forms
                        </p>   
                          <center>
        
                          <div class="carddisbotsbotButtons">
                              <a href="/bugreport/bug" style="width: 70%; color: #fff;padding: 5px 20px;" class="btn btn-disbots"><i class="fal fa-eye"></i>&nbsp;Report!</a>
                              <br><br>
                              </div>
                         </center>
                        </div>
                              </div>
                    <div class="column is-3 mb-5">    
                        <div style="background-color: var(--bg-card);" class="box carddisbotsbotCard">
                          <div>
                            <i draggable="false" style="font-size: 140px;" class="fab fa-html5 fa-5x is-pulled-left has-text-danger carddisbotsbotIMG z"></i>
                          </div>
                          <div class="is-pulled-right is-inline-block">
                             <span class="badge badge-stats mt-1 w-100"></span>
                             </div>
                           <br><br><br>
                          <p style="margin-top: 5px;" class="carddisbotsbotName has-text-white mt-5">
                            Report A Bug By Dming Masterious
                        </p>   
                          <center>
        
                          <div class="carddisbotsbotButtons">
                              <a href="/user/693553429380857978" style="width: 70%; color: #fff;padding: 5px 20px;" class="btn btn-disbots"><i class="fal fa-eye"></i>&nbsp;View User</a>
                              <br><br>
                             </div>
                         </center>
                        </div>
                    </div>
                 </div>
    </div>
</center>
<%- include('../parts/foot') %>
