<%- include('../parts/head', {bot, user, path}) %>
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9050850999194182"
     crossorigin="anonymous"></script>
</head>
<title>Login</title>
<style>
strong {
color: var(--body-text)!important;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="container"><br><br><center><div class="column"><p class="has-text-white title is-large"><i class="fal fa-sign-in mr-1"></i>&nbsp;You need to Login to your <i class="fab fa-discord"></i>&nbsp; Discord Account</p><center><center><a class="btn btn-util" style="font-size:40px" href="/login"><i class="fab fa-discord"></i>&nbsp;login</a><center></div></div>
    </div>
</div>

<%- include('../parts/foot') %>
