<%- include('../parts/head', {bot, user, path}) %>

<title>Premium | Discord Bots</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
<div class="bg-vote-disbots pt-5">
<h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Vcodez Premium
</h3>
</center>
<p class="text-muted">
<strong>How to get Premium?</strong>
<br>You can get Vcodez premium by Dming Masterious or Xv.
<br><strong>What is the use of Vcodez Premium</strong>
<br>Ad-Free Website!.
<br>You will gain your own premium panel! Where you can turn off the ads and more!
</p>
<br>
<br>
</div>
</div>
</div>
    <center>
    <button onclick="location.href='/dc'" class="btn btn-danger"><i class="fad fa-check"></i>&nbsp;Contact The Owner to pay</button>
    </center>
        <center>
    <button onclick="location.href='/premium/panel'" class="btn btn-success"><i class="fad fa-stars"></i>&nbsp;Already Have Premium? Click Here!</button>
    </center>
</div>

<%- include('../parts/foot') %>
