<%- include('../parts/head', {bot, user, path}) %>


<title>Premium-Panel | Discord Bots</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
<div class="bg-vote-disbots pt-5">
<h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Vcodez Premium Panel
</h3>
<center>
    <button onclick="location.href='https://adblockplus.org/adblock-plus-chrome#'" class="btn btn-danger"><i class="fad fa-check"></i>&nbsp;Click here to block ads!</button>
    <center>
    <br>
    <center>
    <p class="text-muted">
<strong>Code #1</strong>
<span class="badge badge-danger">Free Server Promo Code</span>
<br>Code is - 1gs726skSak<br>
<strong>Dm Masterious To Claim</strong>
<center>
<br>
<br>
</div>
</div>
</div>
    <center>
    <button onclick="location.href='/dc'" class="btn btn-danger"><i class="fad fa-check"></i>&nbsp;Suggest More!</button>
    </center>
</div>

<%- include('../parts/foot') %>
