<%- include('../parts/head', {bot, user, path}) %>

<title>Stats Warn | Discord Bots</title>
<style>
strong {
color: gray;
}
</style>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-disbots pt-5">
<div class="bg-vote-disbots pt-5">
<h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
<center>
<h3 style="color:white; text-shadow: 2px 2px 5px black;" translate="no" color="" id="fat">Web Status Info
</h3>
</center>
<center>
<p class="text-muted">
<strong>Password</strong>
<span class="badge badge-danger">Needed to view stats</span>
<br>Password is - vcodez
<center>
</p>
<br>
</div>
</div>
</div>
    <center>
    <button onclick="location.href='https://stats.uptimerobot.com/PJ5XEH4R2R'" class="btn btn-back"><i class="fad fa-chart-bar mr-1"></i>&nbsp;Look At Status</button>
    </center>
</div>

<%- include('../parts/foot') %>
